<!doctype html>
<html>

<head>
  <title>Gerenciador Educacional On-Line</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
</head>

<body class="body">
  <div class="container-lg" style="text-align: center;">
    <form style="padding: 100px;">
      <h3>Gerenciador Educacional On-Line</h3>
      <a style="width: 300px;margin: 100px;" class="btn btn-primary" href="{{url_for('login')}}" role="button">Login</a>
    </form>
  </div>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/bootstrap.min.js')}}" media="screen">
</body>

</html>