<!doctype html>
<html>

<head>
    <title>Gerenciador Educacional On-Line</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"
        media="screen">
</head>
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gerenciador Educacional Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">G-E-O</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<body class="body">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col">
            </div>
            <div class="col">
                <form action="" method="POST" style="padding: 100px;">
                    {{form.csrf_token}}
                    <h3 style="text-align: center;min-width: 300px;margin-bottom: 20px;">Cadastro
                    </h3>
                    <div class="md-3">
                        {{form.nome(class="form-control",placeholder="nome")}}
                    </div>
                    <div class="md-3">
                        {{form.email(class="form-control",placeholder="email")}}
                    </div>
                    <div class="md-3">
                        {{form.senha(class="form-control",placeholder="senha")}}
                    </div>
                    <div class="md-3">
                        {{form.confirmar_senha(class="form-control",placeholder="confirmar senha")}}
                    </div>
                    <button style="min-width: 300px; margin-top: 20px;margin-bottom: 10px;" type="submit"
                        class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>