<!doctype html>
<html>

<head>
  <title>Gerenciador Educacional On-Line</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gerenciador Educacional Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">G-E-O</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<body class="body">
  <div class="container-lg" style="text-align: start;">
    <form style="padding: 100px;">
      <h2 style="padding: 20px;">Gerenciador Educacional On-Line</h2> 
      
      <h3 style="padding: 20px;">Sistema para auxílio de professores no plano de aula</h3>
      
      <h4 style="padding: 20px;">Com o objetivo de propiciar uma melhor gestão das atividades administrativas dos professores de uma escola pública do
      Guarujá, este estudo realizou o desenvolvimento de um gerenciador educacional online. Foram pesquisadas as principais
      necessidades dos professores em seu cotidiano escolar e como uma ferramenta digital poderia ajudá-los. Foram encontradas
      as seguintes dificuldades, relatadas pelos entrevistados: ferramenta para gestão de notas e presenças, comunicação com
      pais e alunos e cálculo automático de médias. Com base nisso foi desenvolvido um software com o framework web flask, com a linguagem python, e utilizando
      banco de dados SQLite, que atende as necessidades relatadas e possibilita um melhor aproveitamento do tempo de aula.</h4>
    </form>
  </div>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>