<!doctype html>
<html>
  <head>
    <title>Gerenciador Educacional On-Line</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
  </head>
  <body class="body">
    <div class="container-lg">
      <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col">
          <form action="" method="POST" style="padding: 100px;">
            {{form.csrf_token}}
            <h3 style="text-align: center;min-width: 300px;margin-bottom: 50px;">Gerenciador Educacional On-Line</h3>
            <div class="md-3">
              <label style="text-align: start;" for="exampleInputEmail1" class="form-label">Email</label>
              {{form.email(class="form-control",placeholder="email")}}
            </div>
            <div class="md-3">
              <label style="text-align: start;" for="exampleInputPassword1" class="form-label">Senha</label>
              {{form.senha(class="form-control")}}
            </div>
            <div class="checkbox">
              <label>{{form.manterConectado}} Manter Conectado?</label>
            </div>
            <!--<a style="min-width: 300px;" class="btn btn-primary" href="{{url_for('sistema')}}" role="button">Login</a> -->
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="link" href="{{url_for('cadastro')}}">Cadastrar-se</a>
          </form>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/bootstrap.min.js')}}" media="screen">
  </body>
</html>
