<!doctype html>
<html>

<head>
  <title>Gerenciador Educacional On-Line</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
</head>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gerenciador Educacional Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">G-E-O</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('cadastro_aluno')}}">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('consulta')}}">Consulta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<body>
  <table style="margin: 50px;max-width: 900px;" class="table">
    <thead>
      <tr>
        <th scope="col" style="max-width: 70px;">Nº</th>
        <th scope="col" style="max-width: 300px;">Nome completo do aluno</th>
        <th scope="col" style="max-width: 70px;">Classe</th>
        <th scope="col" style="max-width: 100px;">Matéria</th>
        <th scope="col" style="max-width: 70px;">Nota</th>
        <th scope="col" style="max-width: 70px;">Aulas</th>
        <th scope="col" style="max-width: 70px;">Faltas</th>
        <th scope="col" style="max-width: 70px;"></th>
        <th scope="col" style="max-width: 70px;"></th>
      </tr>
    </thead>
    <tbody>
      {% for aluno in alunos %}
        <tr>
          <th scope="row" style="max-width: 70px;">{{ aluno.numero }}</th>
          <td style="max-width: 300px;">{{ aluno.nome }}</td>
          <td style="max-width: 70px;">{{ aluno.classe }}</td>
          <td style="max-width: 100px;">{{ aluno.materia }}</td>
          <td style="max-width: 70px;">{{ aluno.nota }}</td>
          <td style="max-width: 70px;">{{ aluno.qtd_aulas }}</td>
          <td style="max-width: 70px;">{{ aluno.qtd_faltas }}</td>
          <td><a class="btn btn-outline-warning" href="{{url_for('update', aluno_id = aluno['id'])}}" role="button" style="max-width: 70px;">Editar</a></td>
          <td><a class="btn btn-outline-danger" href="{{url_for('delete', aluno_id = aluno['id'])}}" role="button" style="max-width: 70px;">Deletar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>